{% extends '__customorBase__.html' %}

{% block title %}我的订单 · 客户门户{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-3">
      <div class="bs-sidebar hidden-print affix-top" role="complementary">
        <ul id="nav" class="nav bs-sidenav" >
		 <li  class="active"> <a  href="#root">概况</a>
       {% for order in orders %}
		  <li > <a  href="#{{order.id}}">{{order.opening_time.strftime('%Y')}}年{{order.opening_time.strftime('%m')}}月</a>
       {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-9" role="main" id ="list">
      <!-- Getting started

  ================================================== -->
    <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="root"><a href="baseDetail.html">概况</a></h1>
        </div>

	   <div id="main" class="main"></div>



      </div>
{% for order in orders %}
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="{{order.id}}"><a href="baseCustomors.html#rmyy">{{order.opening_time.strftime('%Y')}}年{{order.opening_time.strftime('%m')}}月</a></h1>
        </div>
		 <h2 ><a href="baseCustomors.html#rmyy">{{order.customer_name}}</a></h1>
		<h3 id = "test">订单类型：{{order.order_type}}</h3>
	<table class="table">
      <tbody>
        {% for service in order.services %}
        <tr><td>服务名称：</td><td id="">{{service}}</td></tr>
        {% endfor %}
      <tr><td>生效时间：</td><td>2016-1-2 12:00</td></tr>
	  <tr><td>有效期至：</td><td>2016-1-1 12:00</td></tr>

   </tbody></table>
      </div>
      {% endfor %}
      <!-- File structure
  ================================================== -->

    </div>
  </div>
</div>


{% endblock %}

{% block script %}
// 基于准备好的dom，初始化echarts图表
     var myChart = echarts.init(document.getElementById('main'));

     var option = {
 title : {
     text: '上半年销售情况',
     subtext: ''
 },
 tooltip : {
     trigger: 'axis'
 },
 legend: {
x:'right',
orient: 'vertical',
     data:['订单总额']
 },

 calculable : true,
 xAxis : [
     {
         type : 'category',
         boundaryGap : false,
         data : ['2015/07','2015/08','2015/09','2015/10','2015/11','2015/12','2016/01']
     }
 ],
 yAxis : [
     {
         type : 'value',
         axisLabel : {
             formatter: '{value}万元 '
         }
     }
 ],
 series : [
     {
         name:'订单总额',
   smooth:true,
         type:'line',
   itemStyle: {normal: {areaStyle: {type: 'default'}}},
         data:[300, 320, 330, 450, 460, 480, 580]
     }
 ]
};


     // 为echarts对象加载数据
     myChart.setOption(option);
{% endblock %}
