{% extends '__salesBase__.html' %}

{% block title %}我的产品 · 销售门户{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}
<div class="container marketing">
 <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">医疗影像云<span class="text-muted">  您的医疗影像银行</span></h2>
          <p class="lead">海量存储、异地查阅、长久保存。智能组合任何固定内容临床数据的本地和远程存档，并充当完全集成到诊断工作流程中的真正活动的库。通过在锐珂医疗开发和运作的软件平台上构建的集成现场/非现场基础架构优化存档。无需现场存档，同时提供数据保护和灾难恢复。</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="static/img/doctor3.jpg" alt="Generic placeholder image">
        </div>
      </div>



      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">医疗影像云归档 <span class="text-muted"></span></h2>
          <p class="lead">将三级医院高端影像诊断技术窗口前移，达到基层医院患者与专家零距离。 提高一二级医院影像诊断水平，方便群众看病就医。 切实为老百姓“看病难”、“看病贵”的问题提供一种有效的解决手段。</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="static/img/doctor.jpg" alt="Generic placeholder image">
        </div>
      </div>



      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">医疗影像云会诊 <span class="text-muted"></span></h2>
          <p class="lead"> 将三级医院高端影像诊断技术窗口前移，达到基层医院患者与专家零距离。 提高一二级医院影像诊断水平，方便群众看病就医。 切实为老百姓“看病难”、“看病贵”的问题提供一种有效的解决手段。</p>
        </div>
        <div class="col-md-5">
         <img class="featurette-image img-responsive center-block" src="static/img/doctor2.jpg" alt="Generic placeholder image">
        </div>
      </div>
</div>


{% endblock %}

{% block script %}
{% endblock %}
