{% extends '__customorBase__.html' %}

{% block title %}我的账单 · 客户门户{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-3">
      <div class="bs-sidebar hidden-print affix-top" role="complementary">
        <ul id="nav" class="nav bs-sidenav" >
		 <li  class="active"> <a  href="#root">概况</a>
       {% for bill in bills %}
      <li > <a  href="#{{bill.id}}">{{bill.create_time.strftime('%Y')}}年{{bill.create_time.strftime('%m')}}月</a>
       {% endfor %}

        </ul>
      </div>
    </div>
    <div class="col-md-9" role="main" id ="list">
      <!-- Getting started

  ================================================== -->
    <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="root"><a href="baseDetail.html">概况</a></h1>
        </div>

	   <div id="main" class="main"></div>



      </div>
{% for bill in bills %}
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="{{bill.id}}"><a href="baseCustomors.html#rmyy">{{bill.create_time.strftime('%Y')}}年{{bill.create_time.strftime('%m')}}月账单</a></h1>
        </div>
		 <h2 ><a href="baseCustomors.html#rmyy">{{bill.customer_name}}</a></h1>
	<table class="table">
      <tbody>
        <tr><td>服务名称</td><td>详细</td><td>价格(元)</td></tr>
        {% for service in bill.services %}
        <tr><td>{{service}}</td></tr>
        {% endfor %}
        <tr><td>合计</td><td></td><td>44800</td></tr>
   </tbody></table>
      </div>
      {% endfor %}
      <!-- File structure
  ================================================== -->

    </div>
  </div>
</div>


{% endblock %}

{% block script %}
// 基于准备好的dom，初始化echarts图表
var myChart = echarts.init(document.getElementById('main'));

var option = {
title : {
text: '我的费用情况',
subtext: ''
},
tooltip : {
trigger: 'axis'
},
legend: {
x:'right',
orient: 'vertical',
data:['应付费用','实付费用']
},

calculable : true,
xAxis : [
{
    type : 'category',
    boundaryGap : false,
    data : ['7月','8月','9月','10月','11月','上月','本月']
}
],
yAxis : [
{
    type : 'value',
    axisLabel : {
        formatter: '{value}元 '
    }
}
],
series : [
{
    name:'应付费用',
smooth:true,
    type:'line',
itemStyle: {normal: {areaStyle: {type: 'default'}}},
    data:[44800, 44800, 44800, 44800, 44800, 44800, 44800],
    markPoint : {
        data : [
            {type : 'max', name: '最大值'},
            {type : 'min', name: '最小值'}
        ]
    },
    markLine : {
        data : [
            {type : 'average', name: '平均值'}
        ]
    }
},
{
    name:'实付费用',
    type:'line',
smooth:true,
itemStyle: {normal: {areaStyle: {type: 'default'}}},
    data:[44800, 44800, 44800, 44800, 44800, 44800, 44800],
    markLine : {
        data : [
            {type : 'average', name : '平均值'}
        ]
    }
}
]
};


// 为echarts对象加载数据
myChart.setOption(option);
{% endblock %}
