{% extends '__salesBase__.html' %}

{% block title %}我的客户 · 销售门户{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-3">
      <div class="bs-sidebar hidden-print affix-top" role="complementary">
        <ul id="nav" class="nav bs-sidenav" >
		 <li  class="active"> <a  href="#root">概况</a>
          <li > <a  href="#rmyy">上海市第一人民医院</a>


          </li>
          <li > <a href="#chyy">上海市长海医院</a>
          </li>

        </ul>
      </div>
    </div>
    <div class="col-md-9" role="main" id ="list">
      <!-- Getting started

  ================================================== -->
    <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="root"><a href="baseDetail.html">概况</a></h1>
        </div>

	   <div id="main" class="main"></div>



      </div>

      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="rmyy"><a href="baseDetail.html">上海市第一人民医院</a></h1>
        </div>
			<h3 id = "test">基本情况</h3>
	<table class="table">

      <tbody><tr><td>地址</td><td id="aa">番禺路1号</td></tr>
      <tr><td>联系人</td><td>林主任</td></tr>
	  <tr><td>联系方式</td><td>13848820366</td></tr>

   </tbody></table>
		<h3 id = "test">订单</h3>
	<table class="table">

      <tbody><tr><td>服务名称</td><td id="aa">影像云尊享版</td></tr>
      <tr><td>生效时间</td><td>2015-12-12 12:00</td></tr>
	  <tr><td>有效期至</td><td>2016-12-12 12:00</td></tr>

   </tbody></table>



      </div>
      <!-- File structure
  ================================================== -->
		<div class="bs-docs-section">
        <div class="page-header">
          <h1 id="chyy"><a href="baseDetail.html"> 上海市长海医院</a></h1>
        </div>
		<h3 id = "test">基本情况</h3>
    <table class="table">

      <tbody><tr><td>地址</td><td id="aa">番禺路1号</td></tr>
      <tr><td>联系人</td><td>林主任</td></tr>
	  <tr><td>联系方式</td><td>13848820366</td></tr>

   </tbody></table>
		<h3 id = "test">订单</h3>
	<table class="table">

      <tbody><tr><td>服务名称</td><td id="aa">影像云标准版</td></tr>
      <tr><td>生效时间</td><td>2015-12-12 12:00</td></tr>
	  <tr><td>有效期至</td><td>2016-12-12 12:00</td></tr>

   </tbody></table>



      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
// 基于准备好的dom，初始化echarts图表
var myChart = echarts.init(document.getElementById('main'));

var option = {
title : {
text: '上周客户情况',
subtext: ''
},
tooltip : {
trigger: 'axis'
},
legend: {
x:'right',
orient: 'vertical',
data:['目标客户数','签单客户数']
},

calculable : true,
xAxis : [
{
    type : 'category',
    boundaryGap : false,
    data : ['周一','周二','周三','周四','周五','周六','周日']
}
],
yAxis : [
{
    type : 'value',
    axisLabel : {
        formatter: '{value} '
    }
}
],
series : [
{
    name:'目标客户数',
smooth:true,
    type:'line',
itemStyle: {normal: {areaStyle: {type: 'default'}}},
    data:[10, 12, 10, 15, 17, 17, 17],
    markPoint : {
        data : [
            {type : 'max', name: '最大值'},
            {type : 'min', name: '最小值'}
        ]
    },
    markLine : {
        data : [
            {type : 'average', name: '平均值'}
        ]
    }
},
{
    name:'签单客户数',
    type:'line',
smooth:true,
itemStyle: {normal: {areaStyle: {type: 'default'}}},
    data:[4, 4, 4, 5, 5, 5, 6],
    markPoint : {
        data : [
            {name : '周最高', type:'max'}
        ]
    },
    markLine : {
        data : [
            {type : 'average', name : '平均值'}
        ]
    }
}
]
};


// 为echarts对象加载数据
myChart.setOption(option);
{% endblock %}
